services:
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    restart: always
  
  # notification:
  #   build:
  #     context: ./notification-service
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8082:8082"
  #   restart: always
  
  # workout:
  #   build:
  #     context: ./workout-training-service
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8083:8083"
  #   restart: always

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always
    depends_on:
      - user-service
      # - notification
      # - workout